@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
html
{
    scroll-behavior: smooth;
    --orange-element: #F58A07;
}    
body
{
    margin:0;
    padding:0;
}
a
{
    color: white;
}
    a:link {text-decoration: none;
        color: white;}
    a:visited {text-decoration: none}
    a:active {text-decoration: none;
        color: white;}
    a:hover {text-decoration: none;
        color: white;}
nav
{
    position:fixed;
    z-index: 1;
    top:0;
    height:40px;
    width:100%;
    transition: 0.4s;
    padding: 20px;
    display:flex;
    font-family: 'Montserrat', sans-serif;
}
nav a
{
    padding-right:25px;
}
nav a:hover
{
    color: var(--orange-element);
    transform:scale(1.1);
    font-weight:bold;
    transition: 0.4s;
}
nav div
{
    flex:1;
}
nav div:first-child
{
    display: flex;
    justify-content: start;
}
#logo
{
    visibility:hidden;
    color: var(--orange-element);
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}
#logo::after
{
    font-size:0.6em;
    content: "portfolio";
}
#logo a
{
    color: var(--orange-element);
}
nav div:last-child
{
    display: flex;
    justify-content: flex-end;
}
.mystyle a
{
    color:black;
    padding-right:40px;
    transition: 0.4s;
}
header
{
    width:100%;
    min-height:85vh;
}
#background
{
    z-index: -1;
    width:100%;
    height:85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('img/startup.jpg');
    position: absolute;
    background-attachment: fixed;
}
#one
{
    display:flex;
    flex-wrap:wrap;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size:6em;
    align-items: center;
    justify-content: center;
    height:85vh;
    

}
.napis
{
    flex-basis: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Caveat', cursive;
}
.napis::after
{
    font-size:0.3em;
    content: "portfolio";
}
.arrow
{
    font-size:4rem;
    width:2em;
    height:2em;
    background-color: var(--orange-element);
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.arrow:hover
{
    transform: scale(1.2);
}
#first
{
    width:100%;
    min-height:100vh;
    background-color: #044B7F;
    display:flex;
    justify-content: center;
    align-items: center;
}
.text
{
    visibility: hidden;
    width:50%;
    padding:10px;
    border-radius: 7px;
    transition: 0.4s;
    background-color:var(--orange-element);
    text-align: justify;
}
#second
{
    display:flex;
    min-height:100vh;
    align-items: stretch;
}
#second div
{
    flex-grow:1;
    border: 1px solid black;
}
#second div img
{
    max-width: 100%;
    height: auto;
}
@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
