
html
{
    scroll-behavior: smooth;
    --orange-element: #F58A07;
}    
body
{
    margin:0;
    padding:0;
}
nav
{
    position:fixed;
    top:0;
    height:40px;
    width:100%;
    transition: 0.4s;
    padding: 20px;
}
#navlink
{
    color:white;
}
header
{
    width:100%;
    min-height:85vh;
}
#background
{
    z-index: -1;
    width:100%;
    height:85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    position: absolute;
    background-attachment: fixed;
}
#one
{
    display:flex;
    flex-wrap:wrap;
    z-index: 1;
    font-family: 'Amatic SC', cursive;
    color:white;
    font-size:8em;
    align-items: center;
    justify-content: center;
    height:85vh;
    

}
.napis
{
    flex-basis: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.arrow
{
    font-size:4rem;
    width:2em;
    height:2em;
    background-color: var(--orange-element);
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.arrow:hover
{
    transform: scale(1.2);
}
#first
{
    width:100%;
    min-height:100vh;
    background-color: #044B7F;
    display:flex;
    justify-content: center;
    align-items: center;
}
.text
{
    visibility: hidden;
    width:50%;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color:var(--orange-element);
}
@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
a
{
    color: white;
}
    a:link {text-decoration: none;
        color: white;}
    a:visited {text-decoration: none}
    a:active {text-decoration: none;
        color: white;}
    a:hover {text-decoration: none;
        color: white;}